<h2>Unblocked Group - <%= Body.Band %></h2>
<p>Dear <%= Body.Band %> members,</p>
<p>We are pleased to inform you that your group <b>'<%= Body.Band %>'</b> has been unblocked on our
    music portal. Your group's songs are now available for streaming and sharing
    again.</p>
<p>We appreciate your cooperation and adherence to our community guidelines. Please
    continue to create and share your music with our platform.</p>
<p>If you have any questions or need further assistance, feel free to contact our
    support team at ['support@musicportal.com'].</p>
<p>Thank you for being a part of our music community.</p>
<p>Best regards,<br>Music Box Portal Team</p>
