<h2>User Deletion Notification - Music Box</h2>
<p>Dear
    <% Name %>
    ,</p>
<p>We regret to inform you that your account on the Music Portal has been deleted due to
    violations of our platform's rules and guidelines.</p>
<p>This action has been taken to ensure a safe and respectful environment for all users
    of the Music Portal.</p>
<p>If you believe this deletion was a mistake or you have any questions regarding this
    matter, please contact our support team at [Support Email Address].</p>
<p>Thank you for your understanding.</p>
<p>Best regards,</p>
<p>The Music Box Team</p>
