
@font-face {
    font-family: "Montserrat-Variable";
    src: url("../shrifts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Montserrat-Variable-Italic";
    src: url("../shrifts/Montserrat-Italic-VariableFont_wght.ttf");
}