
// Colors
$-bg-black-1: #0E0E0E;
$-bg-l-black-2: #141414;
$-bg-l-black-3: #222222;
$-bg-blue-1: #41B1CA;

// z-index
$ui-index-1: 1; // Для напалзающих элементов от 0 до 2
$ui-index-2: 2; // Для напалзающих элементов
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих всё (Для черезвычяйных случаев)