<h2 align="center">Account Verification - Welcome to our Music Portal!</h2>
<p>Dear <%= Name %>,</p>
<p>Thank you for registering an account with our Music Portal! We're excited to have you join our vibrant community of
    music lovers. To ensure the security and validity of your account, we kindly request you to verify your email
    address by following the instructions below.</p>
<p>Please click on the following link to verify your email address and activate your account:</p>
<p><a href="#" target="_blank"><%= `https://server_front/${Id}/verification` %></a></p>
<p>By verifying your email, you'll gain full access to all the features and benefits our Music Portal offers,
    including:</p>
<ul>
    <li>Discovering new artists and music genres</li>
    <li>Creating personalized playlists</li>
    <li>Connecting with fellow music enthusiasts</li>
    <li>Accessing exclusive content and promotions</li>
</ul>
<p>We recommend completing the verification process within 24 hours to avoid any inconvenience. If you did not register
    for an account on our Music Portal, please disregard this email.</p>
<p>If you encounter any issues during the verification process or have any questions, please don't hesitate to reach out
    to our support team at <a href="mailto:[Support Email Address]">[Support Email Address]</a>. We're here to assist
    you.</p>
<p>Once again, welcome to our Music Portal! Get ready to embark on a melodious journey and enjoy the world of music like
    never before.</p>
<p>Best regards,</p>
<p>Music Box<br>
    [Your Position/Title]<br>
    [Music Portal Name]<br>
    [Website or Contact Information]</p>
